{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-10">
        <div class="grid-x grid-margin-x align-center">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.user_first_name + " " + current_user.user_last_name }}</h2>
                    <p>{{ current_user.email }}</p>
                    <p>{{ session['role'].title() }} Account</p>
                </div>
            </div>
        </div>
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <h4 class="text-center subheader">Update Account</h4>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.username.label(class="") }}
                            {% if form.username.errors %}
                                {{ form.username(class='form-input-alert', placeholder='Must be between 2-20 characters') }}
                                    <div class="callout small alert">
                                        {% for error in form.username.errors %}
                                            <small>Error: {{ error }}</small>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.username(class="", placeholder="Must be between 2-20 characters") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.email.label() }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-input-alert", placeholder="Enter your email address to be used for logging in.") }}
                                    <div class="callout small alert">
                                        {% for error in form.email.errors %}
                                            <small>Error: {{ error }}</small>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.email(class="", placeholder="Enter your email address to be used for logging in.") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.building.label(class="") }}
                            {% if form.building.errors %}
                                {{ form.building(class="form-input-alert") }}
                                    <div class="callout small alert">
                                        {% for error in form.building.errors %}
                                            <small>Error: {{ error }}</small>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.building(class="") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.picture.label(class="button") }}
                            {{ form.picture(class="show-for-sr") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <small class="alert label">Error: {{ error }}</small></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-2">
                            {{ form.submit(class="button expanded") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}