{% extends "layout.html" %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-6">
                <h3 class="home-header text-center">Students</h3>
            </div>
            <div class="cell large-6">
                <h3 class="home-header text-center">Visitors</h3>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center home-border">
            <div class="cell medium-3">
                <a href="{{ url_for('visitor_logs.student_signin') }}" class="button large expanded">Student Sign-in</a>
            </div>
            <div class="cell medium-3">
                <a href="{{ url_for('visitor_logs.student_signout') }}" class="button large expanded">Student Sign-out</a>
            </div>
            <div class="cell medium-3">
                <a href="{{ url_for('visitor_logs.visitor_signin') }}" class="button large expanded">Visitor Sign-in</a>
            </div>
            <div class="cell medium-3">
                <a href="{{ url_for('visitor_logs.visitor_signout') }}" class="button large expanded">Visitor Sign-out</a>
            </div>
        </div>
    </div>
{% endblock content %}