{% extends "layout.html" %}
{% block content %}
    <div class="grid-container log-in-form">
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <h4 class="text-center">Select the Site to Monitor</h4>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-8">
                                {{ form.site.label(class="") }}
                                {{ form.site(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-4">
                            {{ form.submit(class="button large expanded") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}