{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="log-in-form col-md-8">
            <div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <h4 class="display-4 text-center">Select the Site to Monitor</h4>
                        <div class="m-4 form-group">
                            <div class="form-group">
                                    {{ form.site.label(class="") }}
                                    {{ form.site(class="form-control") }}
                            </div>
                        </div>
                        <div class="row justify-content-center form-group">
                            <div class="col-md-4">
                                {{ form.submit(class="btn btn-primary btn-block") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}