{% extends "layout.html" %}
{% block content %}
    <div class="grid-container log-in-form">
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <h2 class="text-center">Visitor Sign-in</h2>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.visitor_name.label(class="") }}
                            {% if form.visitor_name.errors %}
                                {{ form.visitor_name(class='form-input-alert', placeholder='Visitor name') }}
                                    <div class="callout small alert">
                                        {% for error in form.visitor_name.errors %}
                                            <small>Error: {{ error }}</small>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.visitor_name(class="", placeholder="Visitor name") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.student_name.label(class="") }}
                            {% if form.student_name.errors %}
                                {{ form.student_name(class='form-input-alert', placeholder="Student name") }}
                                    <div class="callout small alert">
                                        {% for error in form.student_name.errors %}
                                            <small>Error: {{ error }}</small>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.student_name(class="", placeholder="Student name") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.grade.label(class="") }}
                            {{ form.grade(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.reason.label(class="") }}
                            {{ form.reason(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.reason_other.label(class="") }}
                            {{ form.reason_other(class="", placeholder="If meeting with a teacher, specify the teacher here") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-4">
                            {{ form.submit(class="button large expanded") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}