.body {
    margin-top: 1rem;
    margin-bottom: 5rem;
}


.block-content {
    padding: 1rem 0;
}

.home-header {
    background-color: #1673b1;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-border {
    margin-top: 40px;
    margin-bottom: 40px;
}

.table-label {
    background-color: #1673b1;
    color: #d3d3d3;
    margin-top: 5px;
    padding: 5px;
}

.footer {
    padding: 1rem 0;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

.m-10 {
    margin: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.muted {
    color: #8a8a8a;
}

.form-input-alert {
    border-color: lightcoral !important;
    color: #0a0a0a;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 0.25rem;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }