{% extends "layout.html" %}
{% block content %}
    <div class="grid-container log-in-form">
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <h2 class="text-center">Register Today</h2>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.username.label(class="") }}
                            {{ form.username(class="", placeholder="Must be between 2-20 characters") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.email.label(class="") }}
                            {{ form.email(class="", placeholder="Enter your email address to be used for logging in.") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.role.label(class="") }}
                            {{ form.role(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.password.label(class="") }}
                            {{ form.password(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-6">
                            {{ form.password_confirmation.label(class="") }}
                            {{ form.password_confirmation(class="") }}
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-center">
                        <div class="cell large-4">
                            {{ form.submit(class="button large expanded") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="grid-x grid-margin-x align-center mt-5">
            <small class="small cell large-8 text-center">
                <span class="muted">Already have an account? </span><a href="{{ url_for('login') }}">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}